# =========================================
# Node.js / Next.js
# =========================================

node_modules/
.next/
out/
dist/
coverage/
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# =========================================
# Python
# =========================================

.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================================
# Environment
# =========================================

.env
.env.*
!.env.example

# =========================================
# IDE
# =========================================

.vscode/settings.json
.idea/
*.iml

# =========================================
# macOS
# =========================================

.DS_Store

# =========================================
# Docker
# =========================================

docker-data/

# =========================================
# Logs
# =========================================

*.log
logs/

# =========================================
# Media
# =========================================

/apps/backend/media_storage/

# =========================================
# Database
# =========================================

*.db
*.sqlite3

# =========================================
# Build
# =========================================
apps/frontend/ios/
build/
dist/